<form method="post" action="/test">
    <p>enter marks</p>
    <br>
    maths: <input type="text" name="ms1" />
    <br>
    english: <input type="text" name="ms2" />
    <br>
    dbms: <input type="text" name="ms3" />
    <br>
    oocp: <input type="text" name="ms4" />
    <br>
    <input type="submit"/>
  </form>
  